body{
  background-color: rgb(48, 0, 0);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 25vh;
  height: auto;
}

.logo h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin: 0;
  padding: 0;
  margin-left: 435px;
  flex: 1;
}

.pokedex{
  display: flex;
  flex-direction: column;

}


.poke{
  display: flex;
  flex-direction: column;
    align-items: center;
}

.poke p {
  color: rgb(255, 255, 255); 
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.poke p::first-letter {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  font-weight: bold;

}

.poke img {
  width: 200px;
  will-change: filter;
    transition: filter 300ms;
}

.poke img:hover{
  filter: drop-shadow(0 0 2em #0011ff);
}

.poke button{
  display: flex;
  background-color: black;
  font-size: 14;color: white;
  border: 2px solid rgb(0, 26, 255);
  will-change: filter;
    transition: filter 300ms;
}

.poke button:hover{
  filter: drop-shadow(0 0 5em #1900ff);
}

.poke_{
  display: flex;
  gap: 20px;
}